/* -------------------------------------------------------------------------- */
/*                           inicio de estilos base                           */
/* -------------------------------------------------------------------------- */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    
    body {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    h2 {
        position: relative;
    
        margin: 45px 0 20px 0;
    }
    
    .container-fluid {
        position: relative;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center
    }
    .container{
        width: 95%;
        margin: 0 auto;
    }
    
    .container > div {
        width: 90%;
        height: auto;
        background-color: gray;
        border: 2px solid black;
        margin: 15px auto;
        text-align: justify;
    }
    
    .container > div > h2 {
        float: right;
        margin: 0;
        padding: 5px 25px;
        border: 1px solid brown;
    }
    
    .container>div>p {
        clear: both;
        padding: 20px;
    }
    
    .pollo {
        background: rgba(187, 38, 38, 0.842);
    }
    
    .carne {
        color: white;
        background-color: coral;
    }
    
    .pescado {
        background-color: rgb(236, 160, 60);
    }



/* -------------------------------------------------------------------------- */
/*                             fin de estilos base                            */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                         inicio estilos para tablet                         */
/* -------------------------------------------------------------------------- */

@media (min-width:768px) and (max-width: 991px) {
    *{
        box-sizing: border-box;
    }
    .container-fluid {
        position: relative;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center
    }

    .container{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 15px;
    }
    .container > div {
        width: 48%;  
    }
    .w-100{
        flex-grow: 1;
    }

}

/* -------------------------------------------------------------------------- */
/*                         fin de estilos para tablet                         */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                          inicio de estilos desktop                         */
/* -------------------------------------------------------------------------- */

@media (min-width: 992px){
    *{
        box-sizing: border-box;
    }
    
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        margin: 0 15px;
    }
    .container > div {
        margin: 5px;  
    }
}

/* -------------------------------------------------------------------------- */
/*                           fin de estilos desktop                           */
/* -------------------------------------------------------------------------- */